.landing .img{
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat:no-repeat;  
    width: 100vw;;
    height: 100vh;

}
.landing .layer
{
    background: black;
    height: 100vh;
    width: 100vw;
    position:absolute;
    top:0;
    opacity:0.3;
}




